*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

html{
  width: 100vw;
}

header {
  width: 40%;
  font-size: 1.4vw;
  margin: 10px auto;
  border-bottom: 1px solid black ;
}

h1,
h2 {
  text-align: center;
}

.container-cards{
  width: 80%;
  margin: 20px auto;
}

.box-card{
  width: calc((100% - 40px) / 3);
  margin: auto;
  border: 5px solid rgb(247, 247, 247);
  box-shadow: 6px 6px 4px black, -2px -2px 6px #775003;
  position: relative;
}

section.box-card > h2{
  font-size: 3vw;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 4px 4px 6px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

figure>img.location-image {
  width: 100%;
  vertical-align: middle;
}

.layover {
  width: 100%;
  height: 100%;
  background-color: rgba(32, 28, 0, 0.35);
  position: absolute;
  top: 0;
}

footer.made{
  width: 40%;
  text-align: center;
  text-transform: capitalize;
  padding: 10px 0;
  margin: 10px auto;
  border-top: 1px solid black;

}

footer.made:hover{
  font-size: 1.2em;
  color: #ffffff;
  border: 1px solid #001632;
  border-radius: 5px;
  background-color: #001632;
}

footer.made a{
  text-decoration: none;
  color: #0056b3;
}

footer.made a:hover{
  color: #0cd977;
}
